html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Kdam Thmor Pro', sans-serif;

  h1, h2, h3 {
    color: $color-blue;
    font-family: 'Inconsolata', monospace;
    text-align: center;
  }
}

header {
  h1 {
    margin: $margin-size 0;
  }
}

main {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: $margin-extra-size auto;
}
.page-wrapper {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;

  &__author-section {
    margin: $margin-size 0;
  }
}