html {
  box-sizing: border-box; }

* {
  border: 0;
  margin: 0;
  padding: 0; }

:root {
  font-size: 16px; }

body {
  font-family: 'Work Sans', 'Arial', sans-serif; }

.page-logo, h1, h2 {
  font-family: 'Libre Baskerville', 'Georgia', serif; }

nav a {
  font-weight: 900; }
